@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2c3a41 transparent; /* Firefox */
}

*::-webkit-scrollbar {
  width: 6px; /* scrollbar genişliği */
}

*::-webkit-scrollbar-track {
  background: transparent; /* track rengi */
}

*::-webkit-scrollbar-thumb {
  background-color: #2c3a41; /* thumb rengi */
  border-radius: 3px; /* yuvarlatma */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3a4a52; /* hover efekti */
}

html{
    font-size:62.5%;
}

body{
    background-color: variables.$secondary-color;
    font-family: "Segoe UI", Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: variables.$dark-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}


@media (max-width: 576px) {
  html{
    font-size: .52rem;
  }


}

@media (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: .6rem;
  }

}
