$max-width: 1900px;
$primary-color: #222831;
$secondary-color: #393E46;
$medium-color: #AEBAC1;
$light-color: #EEEEEE;
$dark-color: #26353D;
$button-color: #A9B5BB;
$letter-color: #8696A0;
$next-backend: #212121;
$notification-color:#21C063;